.mainContact{
  background-color: var(--color-white);
  width: 100vw;
  height: 100vh;
}
/* circle blue */
.cricleTop{
  position: absolute;
  width: 100vw;
  z-index: 0;
}
/* grid rrss */
.iconRRSS{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.rrss{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
}

.iconContactRRSS{
  width: 100px;
}
.instagram{
  grid-column: 1 / 5;
  grid-row: 1/2;
}
#github,#twitter{
  display: flex;
}
#twitter{
  justify-content: end;
}

.endSpace{
  grid-column: 1/5;
  grid-row: 3/4 ;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* corner left */
.cornerNickLeft{
  position: fixed;
  bottom: 2rem;
  left: 4rem;
}
.horizontalRightC, .horizontalLeft, .verticalRightc, .verticalLeft{
  color: var(--color-blue);
  font-size: 2rem;
  font-family: var(--font-raleway);
  font-weight: 100;
}
.horizontalLeft{
  margin-right: 1.5rem;
}
.verticalLeft{
  transform: rotate(-90deg);
  transform-origin: left top; 
}
.horizontalRightC{
  margin-right: 40px;
}
.verticalRightc{
  transform: rotate(90deg);
  transform-origin: left top;
}
.LinkPro{
  color: var(--color-blue);
}
.imgGridProjectMain{
  width: 450px;
}
.imgGridProject{
  width: 220px;
  
}
@media screen and (max-width: 1366px){
  /* corner */
  .cornerNickLeft{
    bottom: 0rem;
    left: 2rem;
  }
  .horizontalRightC, .horizontalLeft, .verticalRightc, .verticalLeft{
    font-size: 1.5rem;
  }
  .rrss{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    padding-top: 6rem;
  }
  .iconContactRRSS{
    width: 88px;
  }
}